@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

$primary-color: #3498db;
$secondary-color: #e0e0e0;
$secondary-color-light: #f6f7fb;
$secondary-color-dark: #999;

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  background-color: $secondary-color-light;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container {
  text-align: center;

  &__progress {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;

    &::before {
      content: "";
      background-color: $secondary-color;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: 4px;
      width: 100%;
      z-index: -1;
    }
  }
}

.progress {
  background-color: $primary-color;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 50%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: white;
  color: $secondary-color-dark;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid $secondary-color;
  transition: 0.4 ease;

  &.active {
    border-color: $primary-color;
  }
}

.btn {
  background-color: $primary-color;
  color: white;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
  transition: background-color 0.4s ease-in-out;

  &:hover {
    background-color: darken($primary-color, 15);
  }

  &:active {
    transform: translateY(1px);
  }

  &:focus {
    outline: 0;
  }

  &:disabled {
    background-color: $secondary-color-dark;
    cursor: pointer;
  }
}
